    <body>

<div id="sfdcarousel" class="carousel slide" style="margin-top:50px;" >
    <ol class="carousel-indicators">
        <li data-target="#sfdcarousel" data-slide-to="0" class="active"></li>
        <li data-target="#sfdcarousel" data-slide-to="1"></li>
        <li data-target="#sfdcarousel" data-slide-to="2"></li>
        <li data-target="#sfdcarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="{{ site.root }}/static/2014/images/cover/banner2.png" width=100% >
        </div>
        <div class="item">
            <img class="img-responsive" src="{{ site.root }}/static/2014/images/cover/image_27.jpg" width=100% >
        </div>
         <div class="item">
            <img class="img-responsive" src="{{ site.root }}/static/2014/images/cover/image_46.jpg" width=100% >
        </div>
        <div class="item">
            <img class="img-responsive" src="{{ site.root }}/static/2014/images/cover/image_06.jpg" width=100% >
        </div>

    </div>
    <a class="carousel-control left" href="#sfdcarousel" data-slide="prev">
        <span class="icon-prev" />
    </a>
    <a class="carousel-control right" href="#sfdcarousel" data-slide="next">
        <span class="icon-next" />
    </a>
</div>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">SFD</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">2014<span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">2013</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><button class="btn btn-sfd">Schedule</button></a></li>
                        <li><a href="#"><button class="btn btn-sfd">Schedule</button></a></li>
                        <li><a href="{{ site.root }}/code-of-conduct"><button class="btn btn-sfd">Code of Conduct</button></a></li>
                        <li><a href="http://freegeekchicago.org/contact/general-feedback/General%20Inquiry"><button class="btn btn-sfd">Contact</button></a></li>
                        <li><a href="{{ site.root }}/donate"><button class="btn btn-sfd btn-donate">Donate</button></a></li>
                    </ul>

                </div><!-- /.navba.-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
