@charset "utf-8";
/* CSS Document */


#sfd_explain_head
{
	color:#366;
	

}


#sfd_explain
{
	color:#000;
	
}


#opback
{
	background-color:#666;
	opacity:0.6;
	width:500px;
	height:250px;
}


.optext
{
	font-weight:bold;
	color:#09C;
}
	