
.content {

  /* TODO: remove me */
  margin-top: 500px;
}

/* common styles for all buttons in the website */
.btn-sfd {
  background-color: rgb(158, 206, 64);
}

/* styles to make the "Donate" btn orange */
.btn-donate {
  background-color: rgb(255, 181, 21);

  /* this is so the floating left won't take it off canvas */
  margin-right: 10px;
}
