{% include head.html %}

    <body>

{% include header.html %}

        <div class="container content">
            {{ content }}
        </div>

        <!-- JavaScript includes -->
        <script src="{{ site.root }}/static/2014/js/jquery-2.0.3.js" type="text/javascript"></script>
        <script src="{{ site.root }}/static/2014/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ site.root }}/static/2014/js/sfd.js" type="text/javascript"></script>


    </body>

{% include footer.html %}
